on: 
  - push
  - pull_request
  - workflow_call
  
name: CI
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Install dependencies
        uses: kubewarden/github-actions/policy-gh-action-dependencies@f1695ca9a575bf58b85d6c3652c7ff7d1d12ec24 # v4.5.16

      - name: Install npm dependencies in js directory
        run: |
          cd js
          npm install
      
      - name: Run linting
        run: |
          cd js
          npm run lint
  
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Install dependencies
        uses: kubewarden/github-actions/policy-gh-action-dependencies@f1695ca9a575bf58b85d6c3652c7ff7d1d12ec24 # v4.5.16

      - name: Install npm dependencies in js directory
        run: |
          cd js
          npm install
            
      - name: Run formatting checks
        run: |
          cd js
          npm run format:check

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Install dependencies
        uses: kubewarden/github-actions/policy-gh-action-dependencies@f1695ca9a575bf58b85d6c3652c7ff7d1d12ec24 # v4.5.16

      - name: Install npm dependencies in js directory
        run: |
          cd js
          npm install

      - name: Run unit tests
        run: make unit-tests

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Install dependencies
        uses: kubewarden/github-actions/policy-gh-action-dependencies@f1695ca9a575bf58b85d6c3652c7ff7d1d12ec24 # v4.5.16

      - name: Install npm dependencies in js directory
        run: |
          cd js
          npm install

      - name: Build TS code
        run: |
          cd js
          npm run build